<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Favorite Food</title>
  </head>

  <body>
    <h1>Favorite Colors</h1>
    <img src="https://www.w3schools.com/Colors/img_colormap.gif">

    <!-- Insert Your Form Below -->
    
    <form method="POST" action= "/food">
  <p>Color 1: <input type="text" name="favorite_color_1"></p>
  <p>Color 2: <input type="text" name= "favorite_color_2"></p>
  <input type="submit">
    </form>


  </body>
</html>
