<!DOCTYPE html>
<html>
  <head>
    <title>
      So many colors!
    </title>
  </head>
</html>
<h1>Here are your results.</h1>
   <%= "Your favorite colors are #{params[:favorite_color_1]} and #{params[:favorite_color_2]}."%>
   
   